body{
  padding: 0;
  margin: 0;
  font-family: 'Montesrrat',sans-serif;
  font-weight: 500;
}
#first-page-div{
  z-index: 2;
}


.small{
  font-size: 80%;
  text-align: center;
  text-decoration: none;
}

.split-screen{
  display: flex;
  flex-direction: column;
}

.overlay,.right{
  display: flex;
  justify-content: center;
  align-items: center;
}

.right .copy{
  color: black;
  text-align: center;
}

#email {
  display: block;
  width: 100%;
  box-sizing: border-box;
  border-radius: 8px;
  border: 1px solid #c4c4c4;
  padding: 10px;
  margin-bottom: 10px;
  font-size: 15px;
  background-color: rgb(128, 128, 128,0.1);
}

#fname{
  display: block;
  width: 100%;
  box-sizing: border-box;
  border-radius: 8px;
  border: 1px solid #c4c4c4;
  padding: 10px;
  margin-bottom: 10px;
  font-size: 15px;
  background-color: rgb(128, 128, 128,0.1);
}

#Password{
  display: block;
  width: 100%;
  box-sizing: border-box;
  border-radius: 8px;
  border: 1px solid #c4c4c4;
  padding: 10px;
  margin-bottom: 10px;
  font-size: 15px;
  background-color: rgb(128, 128, 128,0.1);
}

#Confirm{
  display: block;
  width: 100%;
  box-sizing: border-box;
  border-radius: 8px;
  border: 1px solid #c4c4c4;
  padding: 10px;
  margin-bottom: 10px;
  font-size: 15px;
  background-color: rgb(128, 128, 128,0.1);
}

label{
  display: block;
  margin-bottom: 10px;
  font-size: 15px;
}

.signinbtn{
  color: #fff;
  background-color: #ff4b2b;
  font-size: 12px;
  font-weight: bold;
  padding : 12px 55px;
  margin: 20px;
  border-radius: 20px;
  border: 1px solid #ff4b2b;
  outline: none;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.signupbtn{
  color: #fff;
  background-color: #ff4b2b;
  font-size: 12px;
  font-weight: bold;
  padding : 12px 55px;
  margin: 20px;
  border-radius: 20px;
  border: 1px solid #ff4b2b;
  outline: none;
  letter-spacing: 1px;
  text-transform: uppercase;
}

@media screen and (min-width: 900px){
  .split-screen{
      flex-direction: row;
      height: 100vh;

  }
  .overlay{
      display: flex;
      width: 50%;
      height: auto;

  }.right{
      display: flex;
      width: 50%;
      height: auto;
  
  }
}


.socialcontainer{
  display: flex;
  justify-content: center; 
}

.social{
  margin: 10px;
  background-color: grey;
  background: transparent;
  border-radius: 10px;
  height: 25px;
  width: 35px;      
}

.overlay-left{
  text-align: center;
}

.overlay{
  color: #fff;
  background: #ff416c;
  background: linear;
  background: linear-gradient(to right, #ff4b28, #ff228c);
}

#signin{
  color: #fff;
  background: #ff416c;
  background: linear;
  background: linear-gradient(to right, #ff4b28, #ff228c);
  font-size: 12px;
  font-weight: bold;
  padding : 12px 55px;
  margin: 20px;
  border-radius: 20px;
  border: 1px solid  white;
  outline: none;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.account{
  text-align: center;
  margin-bottom: 20px;
}