#head{
    height:600px;
    width: 100%;
   
    background-image: url(freelance_image.jpg);
    background-size: cover;
}


#but1{
    background-color: aqua;
    width:150px;
    height: 50px;
}
#but2{
   
    width:200px;
    height: 50px;
}
.container{
    display: flex;
    justify-content:space-around;
    background-image: url(image2.jpg);
    width: 1000px;
    height: 500px;
    color: aliceblue;
    
}
.box{
    display: flex;
    flex-wrap: wrap;
    height: 100px;
    width: 200px;
}
#text1{
    color: brown;
}
.text3{
    padding-left: 30px;
}
.main-box{
   
    display: flex;
    justify-content: space-around;
    box-sizing: border-box;

    
}
#a1{
    padding-left: 20px;
    color: brown;
}
.container2{
    display: flex;
    

}
.row{
    display: flex;
    justify-content: space-around;
    box-sizing: border-box;
}
.box{
    margin-top: 40px;
}
#h2{
    padding-left: 10px;
}
.row{
    padding-top: 30px;
}

