*{
  margin: 0;
  padding: 0;
  font-family: 'Times New Roman', Times, serif;
  box-sizing: border-box;
}

.container{
  width: 100%;
  min-height: 100vh;
  background-image: linear-gradient(rgba(239, 13, 13, 0.65),rgb(9,0,77,0.65)),url("Nexum-logos_black.png");
  background-size: cover;
  background-position: center;
  padding: 10px 8%;
}

.nexum{
  scale: 1.25;
  opacity: 0.3;
  display: flex;
  align-content: baseline;
} 

nav{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0;
  font-size: 25px;
  cursor: pointer;
  font-weight: bold;
}

nav ul{
    width: 100%;
    text-align: right;
    padding-right: 10px;
    top: 5px;
}

nav ul li{
  display: inline-block;
  margin: 10px 20px;
}

nav ul li a{
  color: #fff;
  text-decoration: none;
  
}

.premium{
  color: gold;
  font-weight: bold;
  text-decoration: underline;
}

.bt{
  border-radius: 20%;
  border: 5px white  double;
  background-color: black;
  font-weight: bold;
  width: 100%;
  padding: 10px 20px 10px 20px;
  color: white;
  font-size: 20px;
  display: flex;
}

.bt:hover{
  background-color: white;
  color: black;
  border-color: black;
}

.btn{
  border-radius: 20%;
  border: 5px white  double;
  background-color: black;
  font-weight: bold;
  padding: 10px 20px 10px 20px;
  color: white;
  font-size: 20px;
  display: flex;
  cursor: pointer;
}

.btn:hover{
  background-color: white;
  color: black;
  border-color: black;
}

.content{
  color: #fff;
  margin-top: 14%;
  /* display: inline; */
  max-width: 620px;
  font-size: 60px;
  
}

#box{
  background-color: white;
  border-radius: 10%;
  text-align: center;
  box-shadow: 3px 3px 8px rgba(0,0,0,.7);
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: 30px;
  left: 10px;
}

.websiteinfo{
  width: 100%;
  min-height: 100vh;
  background-image: linear-gradient(rgb(255, 243, 243,0.98), rgb(207, 201, 201,0.98)),url("Nexum-logos_black.png");
  background-size: contain;
  background-position: right;
  padding: 10px 8%;
}

#info{
  color: rgba(52, 46, 46, 0.559);
  font-size: 30px;
  max-width: 2000px;
  margin-top: 14%;
  position: relative;
  animation-name: slide2;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-direction: alternate-reverse;
  animation-delay: 1ms;
}

#pre{
  text-align: center;
  line-height: 2;
}

#wih1{
  font-weight: bold;
  text-align: center;
  line-height: 4;
}

#aboutus{
  font-size: 30px;
  text-align: center;
  padding: 10px 20px;
  margin-left: 46%;
  background-image: linear-gradient(rgb(248, 210, 210,0.737),rgba(241, 241, 201, 0.737));
  border: 2px black double;
  position: relative;
  cursor: pointer;
  animation-name: btn2;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-direction: alternate-reverse;
  animation-delay: 1ms;
}

@keyframes btn2{
  from{
    background-image: linear-gradient(rgb(248, 210, 210,0.737),rgba(241, 241, 201, 0.737));
    background-image: linear-gradient(rgba(241, 241, 201, 0.737),rgb(248, 210, 210,0.737));
  }
}
@keyframes slide2{
  from{
    scale: 1;
  }
  to{
    scale: 1.05;
  }
}

.footer{
  width: 100%;
  min-height: 100vh;
  background-image: linear-gradient(rgb(207, 201, 201,0.65),rgb(9,0,77,0.65)),url("Nexum-logos_black.png");
  background-size: contain;
  background-position: center;
  padding: 10px 8%;
}

#p{
  color: antiquewhite;
}

#foot{
  color: #fff;
  margin-top: 14%;
  /* display: inline; */
  max-width: 1550px;
  font-size: 60px;
}

#JoinUs{
  background-color: rgb(192, 192, 192);
  color: rgba(0, 0, 0, 0.6);
}
/* body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    padding: 0;
    background-color: white;
    position: static;
    background-position: center;
  }

  h2{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
    color: #FC4445;

  }

  #icon{
    background-image: url("Nexumlogo.png");
    display: inline-block;
  }

  h1{
    text-align: center;
    color: #FC4445;
  }
  
  header{
    padding: 20px;
    background-image: url("https://imgs.search.brave.com/8QoiSy38A1byBsKrAxED4wXRettpTGRJVV_hqL_SQTk/rs:fit:500:0:0/g:ce/aHR0cHM6Ly9tZWRp/YS5pc3RvY2twaG90/by5jb20vaWQvMTE2/MzMzNTcxNS9waG90/by9waG90b2dyYXBo/ZXItd29ya2luZy1p/bi1hLXN0dWRpby5q/cGc_cz02MTJ4NjEy/Jnc9MCZrPTIwJmM9/cXo5amoyVnVSY0t2/OERiSS1wUlNyaDVl/eVBEelIwT3VKcXFU/aTEtNUpiQT0");
    background-size: cover;
    text-align: center;
    height: 1040px;
}
  
  section {
    padding: 20px;
  }
  
  /* #idea-section {

  } 
  
  #animation-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
  }
  
  .sphere {
    width: 100px;
    height: 100px;
    color: white;
    border: 2px black dotted;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    cursor: pointer;
    transition: transform 0.3s;
    background-image: linear-gradient(rgb(255, 0, 0),white);
  }
  
  .sphere:hover {
    transform: scale(1.2);
    border: 5px white solid;
  }
  
  .sphere a {
    color: #333;
    text-decoration: none;
  }
  
  footer {
    background-color: #8EE4AF;
    color: black;
    padding: 10px;
    text-align: center;
    position: static;
  }

  #ideasection {
    display: flex;
    align-items: center;
  }
  
  .paragraph-container {
    flex: 1;
    padding: 20px;
  }
  
  .line {
    width: 5px;
    background-color: #fff;
  } */

  